desktop.ini
Thumbs.db
sync.ffs_db

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
.stignore
/.stfolder
/.idea
/.vscode
/.vagrant
/node_modules
/storage/*.key
/vendor

/public/hot
/public/storage
/public/images
/public/folders
/public/albums
/public/OST50
/publc/fonts

/private/hot
/private/storage
/private/images
/private/folders
/private/albums
