body { 
    padding-top: 55px; 
}

.btn-h1-spacing{
	margin-top: 2px;
}

.form-spacing-top{
	margin-top: 20px;
}

.font-bold{
	font-weight: bold;
}

.hr-spacing-top{
	margin-top: -5px;
}

.form-input-success{
	border-color: #218838;
	border-width: 2px;
}

.form-input-primary{
	border-color: #0069d9;
	border-width: 2px;
}

.badge-default{
	background-color:grey;
	color:white;
}

.comment {
	margin-bottom: 45px;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name {
	float: left;
	margin-left: 15px;
}

.author-name>h4 {
	margin: 5px 0px;
}

.author-time {
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 18px;
	line-height: 1.3em;
}

.comments-title {
	margin-top: 45px;
	margin-bottom: 25px;
}

.comment-evenColor {
  background: #f2f2f2;
}

.comment-oddColor {
  background: #ffffff;
}

html {
    width: 100%;
    width: 100vw;
}

.h1-suffix {
  font-size: 18px;
  font-style: italic;
  color: dark-grey;
  margin-left: 15px;
  vertical-align: 4px;
}

.navbar-toggler {
  border: none;
}

.table-grey {
  background: #e6e6e6;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media screen and (min-width:769px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 5px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*
/* ********************************************************* */
/* End Offical Sidebar                                       */
/* ********************************************************* */

/* ********************************************************* */
/* Start NS Custom Sidebar                                   */
/* ********************************************************* */
.sidebar-nav span.active {
  color:#80bdff;
}
.sidebar-nav li .active {
  color:#80bdff;
}

/* ********************************************************* */
/* End NS Custom Sidebar                                     */
/* ********************************************************* */

/* ********************************************************* */
/* Custom Check Boxes                                        */ 
/* ********************************************************* */
/*
  <label for="item1">
    <input hidden type="checkbox" id="item1" />
    <span class="span">Select Item 1</span>
  </label>
*/

input[type="checkbox"] {
 /* display:none; */
}
/*-----------Label-------------*/
label{
 cursor:pointer;
 color:#666;
}
/*-----------Input checkbox-------------*/
input[type="checkbox"] + .span:before{
 content:"\f0c8";
 speak:none;
 font-style:normal;
 font-weight:normal;
 font-variant:normal;
 text-transform:none;
 width:1em;
 margin-right:5px;
 font-family: 'Font Awesome 5 Free';
 display:inline-block;
 font-size:32px;
 line-height: 0px;
 vertical-align: middle;
 color:#80bdff;
 animation:mymove2 200ms ease-out;
}
input[type="checkbox"]:checked + .span:before{
 content:"\f14a";
 animation:mymove 200ms ease-in-out;
 -webkit-animation:mymove 150ms ease-in-out;
}
/*-----------Animation-------------*/
@keyframes mymove{
 0%{
  transform: scale(0);
 }
    1%{
  transform: scale(0);
 }
 100%{
  transform: scale(100%);
 }
}

@-webkit-keyframes mymove {
  from{
  transform: scale(0);
 }
 to{
  transform: scale(100%u);
 }
}
@keyframes mymove2 {
  from{
  transform: scale(100%);
 }
 to{
  transform: scale(0);
 }
}

/* ********************************************************* */
/* Custom Radio Buttons:                                     */ 
/* ********************************************************* */
/*
  <label for="radio1">
    <input hidden type="radio" id="radio1" value="111" name="group1" />
    <span class="span">Male</span>
  </label>
  <label for="radio2">
    <input hidden type="radio" id="radio2" value="222" name="group1" />
    <span class="span">Female</span>
  </label>
*/
input[type="radio"] {
 /* display:none; */
}
/*-----------Label-------------*/
label{
 cursor:pointer;
 color:#666;
}
/*-----------Input radio button-------------*/
input[type="radio"] + .span:before{
 content:"\f111";
 speak:none;
 font-style:normal;
 font-weight:normal;
 font-variant:normal;
 text-transform:none;
 width:1em;
 margin-right:5px;
 font-family: 'Font Awesome 5 Free';
 display:inline-block;
 font-size:32px;
 line-height: 0px;
 vertical-align: middle;
 color:#80bdff;
 animation:mymove2 200ms ease-out;
}
input[type="radio"]:checked + .span:before{
 content:"\f192";
 animation:mymove 200ms ease-in-out;
 -webkit-animation:mymove 150ms ease-in-out;
}
/*-----------Animation-------------*/
@keyframes mymove{
 0%{
  transform: scale(0);
 }
    1%{
  transform: scale(0);
 }
 100%{
  transform: scale(100%);
 }
}

@-webkit-keyframes mymove {
  from{
  transform: scale(0);
 }
 to{
  transform: scale(100%u);
 }
}
@keyframes mymove2 {
  from{
  transform: scale(100%);
 }
 to{
  transform: scale(0);
 }
}

.checkbox-h1 {
  font-size:36px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h2 {
  font-size:30px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h3 {
  font-size:24px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h4 {
  font-size:18px;
  line-height: 22px;
  vertical-align: bottom;
}

/* Image cropping */
.image-crop-height {
  position: relative;
  height: var(--croph, 232px);
  overflow: hidden;
}

/* Image borders */
.img-frame {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-height: 240px;
}

.img-frame:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Image borders */
.img-frame-lg {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    /*max-height: 240px;*/
}

.img-frame-lg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

dd {
  height: 1.3em; /* Fixes problem with height on empty dd element */
}

.select2-selection--multiple {
  height: 38.5px; /* Fixes jitter on select2 multiple element */
}

.parsley-errors-list li.parsley-required,
.parsley-maxFiles {
  color: red;
  font-weight: bold;
}

.parsley-maxFiles,
.custom-file .parsley-required {
  margin-left: -15px; /* Fix padding when Parsley validation used with custom-file */
}

.dd-nowrap {
    overflow-x: hidden; /* Fix problem with dds wrapping */
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 0px;
}

/* *********************************************************** */
/* Force wrap of long strings - does not work with tables!     */
/* *********************************************************** */
.myWrap {
  overflow-wrap: break-word;  
}

.pointer:hover { /* Show cursor pointer on hover - used on Toggle NavBar */ 
  cursor:pointer;
  color: #595959 !important;
}

.pointer-expand:hover { /* Show cursor pointer on hover - used on Expand chevron */ 
  cursor:pointer;
  background: #80bdff;
  border-radius: 80%;
  height: 1em;
  width: 1em;
}

.xselect2-selection__choice, /* Select2 Remove prefix x to change mult-select pills */ 
.xselect2-selection__choice__remove {
  background-color: #80bdff !important;
  color: black !important;
}

/* *********************************************************** */
/* Modify Bootstrap Carousel controls                          */
/* *********************************************************** */
.carousel-control-prev,
.carousel-control-next {
  bottom: 80%;
  opacity: 0.8;
}  

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  color: light;
  text-shadow: 0px 0px 2px gray, 0px 0px 2px gray;
}

.carousel-control-next-icon:after
{
  font-family: 'Font Awesome 5 Free';
  content: "\f0a9";
  font-weight: 900;
  font-size: 40px;
  margin-right: 10px;
  opacity: 0.9;
}

.carousel-control-prev-icon:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f0a8";
  font-weight: 900;
  font-size: 40px;
  margin-left: 10px;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
}

/* Some additional Carousel styling **************************************************** */
.carousel-caption-inner {
  line-height:30px;
  background-color:#f8f9fa;
  color:gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 0px;
}  

/* *********************************************************** */
/* Force video to fit container - used on File upload          */
/* *********************************************************** */
video {
  width: 100%  !important;
  height: auto !important;
}

/* *********************************************************** */
/* Custom paginator - per page selector                        */
/* *********************************************************** */
.page-btn,
.page-btn-update {
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
  background-color: white;
  border-radius: 0px;
  width:30px;
  padding-left:0px;
  padding-right:0px;
}

.page-in {
  width: 30px;
  border-color: gainsboro;
  border-style: solid;
  border-width: 1px;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 2px;
  text-align: center;
}

/* *********************************************************** */
/* Custom Range slider                                         */
/* *********************************************************** */
input[type=range] {
  -webkit-appearance: none;
  margin-top: 0rem;
  margin-bottom: -1.0rem;
  width: 100%;
  border: none !important;
  background: transparent;
  padding: 0; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    animate: 0.2s;
    background: #eee;
    border-radius: 5px; }
  input[type=range]::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    background: #0275d8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.35rem; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: #6c757d;
    border-radius: 5px; }
  input[type=range]::-moz-range-thumb {
    height: 0.6rem;
    width: 1.2rem;
    border-radius: 0.5rem;
    background: #6c757d;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #e1e1e1;
    border-radius: 10px; }
  input[type=range]::-ms-fill-upper {
    background: #eee;
    border-radius: 10px; }
  input[type=range]::-ms-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    background: #0275d8;
    cursor: pointer; }
  input[type=range]:focus::-ms-fill-lower {
    background: #eee; }

datalist {
  display: flex;
  justify-content: space-between;
  height: 6px;
  overflow: hidden;
  margin-top: -6px; }
  datalist option::before {
    content: '';
    display: block;
    width: 0;
    border-right: 1px solid #DDD;
    height: 10px;
    padding-left: 3px;
    text-indent: 0; }

/* reduce table spacing */
.thleft { 
  padding: 0px 0px 12px 0px !important;
}
.tdleft { 
  padding: 10px 8px 0px 0px !important;
}
.tdright { 
  padding: 10px 0px 0px 0px !important;
} 

/* remove default link attributes if in table header */
th a, th a:visited, th a:active {
  color: white;
  text-decoration: none;
}
th a:hover {
  color: #80bdff;
  text-decoration: none;
}


/* remove decorations from links */
.clean-link a,
.clean-link a:link,
.clean-link a:hover,
.clean-link a:visited
 {
  color: rgba(0,0,0,.5);
  text-decoration: none;
  outline: 0;
}
.clean-link a:hover {
  color: rgba(0,0,0,.7);
}

/* Print styling *********************************************************************** */
@media print {
  [class*="col-sm-"] {
    float: left;
  }

  [class*="col-xs-"] {
    float: left;
  }

  .col-sm-12, .col-xs-12 {
    width:100% !important;
  }

  .col-sm-11, .col-xs-11 {
    width:91.66666667% !important;
  }

  .col-sm-10, .col-xs-10 {
    width:83.33333333% !important;
  }

  .col-sm-9, .col-xs-9 {
    width:75% !important;
  }

  .col-sm-8, .col-xs-8 {
    width:66.66666667% !important;
  }

  .col-sm-7, .col-xs-7 {
    width:58.33333333% !important;
  }

  .col-sm-6, .col-xs-6 {
    width:50% !important;
  }

  .col-sm-5, .col-xs-5 {
    width:41.66666667% !important;
  }

  .col-sm-4, .col-xs-4 {
    width:33.33333333% !important;
  }

  .col-sm-3, .col-xs-3 {
    width:25% !important;
  }

  .col-sm-2, .col-xs-2 {
    width:16.66666667% !important;
  }

  .col-sm-1, .col-xs-1 {
    width:8.33333333% !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
  float: left !important;
  }

  body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
  }

  .container {
    width: auto;
    min-width: 750px;
  }

  body {
    font-size: 10px;
  }

  a[href]:after {
    content: none;
  }

  .noprint,
  div.alert,
  header,
  .group-media,
  .btn,
  .footer,
  form,
  #comments,
  .nav,
  ul.links.list-inline,
  ul.action-links,
  #OpenSpace\.Layer\.ScreenOverlay_65 {
    display:none !important;
  }
}
/* Print styling *********************************************************************** */

/* remove annoying OS logo & copyright from OpenSpace Maps */
/* and some styling */
#OpenSpaceControlPoweredBy {
  display: none !important;
}
.OpenSpaceControlCopyrightCollection {
  display: none !important;
}
#searchArea {
  margin-top: 4px;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
  background-color: #e6e6e6;
  width: 175px;
  padding-left: 8px;
}
#div1 input[value="Find"] {
  margin-left: 0px;
  margin-top: 2px;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e6e6e6;
}
#OpenSpace\.Layer\.ScreenOverlay_65 {
  margin-top: -3px;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
}
#selectGaz {
  margin-top: 2px;
  border-style: solid;
  border-color: grey;
  border-width: 3px;
  background-color: #e6e6e6;
}
