.btn-h1-spacing{
	margin-top: 2px;
}

.form-spacing-top{
	margin-top: 20px;
}

.font-bold{
	font-weight: bold;
}

.hr-spacing-top{
	margin-top: -5px;
}

.form-input-success{
	border-color: #218838;
	border-width: 2px;
}

.form-input-primary{
	border-color: #0069d9;
	border-width: 2px;
}

.badge-default{
	background-color:grey;
	color:white;
}

.comment {
	margin-bottom: 45px;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name {
	float: left;
	margin-left: 15px;
}

.author-name>h4 {
	margin: 5px 0px;
}

.author-time {
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 18px;
	line-height: 1.3em;
}

.comments-title {
	margin-top: 45px;
	margin-bottom: 25px;
}

html {
    width: 100%;
    width: 100vw;
}

.evenColor {
	background-color: white;
}

.oddColor {
	background-color: white;
}
