body { 
    padding-top: 55px; 
}

.btn-h1-spacing{
	margin-top: 2px;
}

.form-spacing-top{
	margin-top: 20px;
}

.font-bold{
	font-weight: bold;
}

.hr-spacing-top{
	margin-top: -5px;
}

.form-input-success{
	border-color: #218838;
	border-width: 2px;
}

.form-input-primary{
	border-color: #0069d9;
	border-width: 2px;
}

.badge-default{
	background-color:grey;
	color:white;
}

.comment {
	margin-bottom: 45px;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name {
	float: left;
	margin-left: 15px;
}

.author-name>h4 {
	margin: 5px 0px;
}

.author-time {
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 18px;
	line-height: 1.3em;
}

.comments-title {
	margin-top: 45px;
	margin-bottom: 25px;
}

html {
    width: 100%;
    width: 100vw;
}

.h1-suffix {
  font-size: 18px;
  font-style: italic;
  color: dark-grey;
  margin-left: 15px;
  vertical-align: 4px;
}

.navbar-toggler {
  border: none;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media screen and (min-width:769px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 5px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*
/* ********************************************************* */
/* End Offical Sidebar                                       */
/* ********************************************************* */

/* ********************************************************* */
/* Start NS Custom Sidebar                                   */
/* ********************************************************* */
.sidebar-nav span.active {
  color:#80bdff;
}
.sidebar-nav li .active {
  color:#80bdff;
}
/* ********************************************************* */
/* End NS Custom Sidebar                                     */
/* ********************************************************* */

/* ********************************************************* */
/* Custom Check Boxes                                        */ 
/* ********************************************************* */
/*
  <label for="item1">
    <input hidden type="checkbox" id="item1" />
    <span class="span">Select Item 1</span>
  </label>
*/

input[type="checkbox"] {
 /* display:none; */
}
/*-----------Label-------------*/
label{
 cursor:pointer;
 color:#666;
}
/*-----------Input checkbox-------------*/
input[type="checkbox"] + .span:before{
 content:"\f0c8";
 speak:none;
 font-style:normal;
 font-weight:normal;
 font-variant:normal;
 text-transform:none;
 width:1em;
 margin-right:5px;
 font-family: 'Font Awesome 5 Free';
 display:inline-block;
 font-size:32px;
 line-height: 0px;
 vertical-align: middle;
 color:#80bdff;
 animation:mymove2 200ms ease-out;
}
input[type="checkbox"]:checked + .span:before{
 content:"\f14a";
 animation:mymove 200ms ease-in-out;
 -webkit-animation:mymove 150ms ease-in-out;
}
/*-----------Animation-------------*/
@keyframes mymove{
 0%{
  transform: scale(0);
 }
    1%{
  transform: scale(0);
 }
 100%{
  transform: scale(100%);
 }
}

@-webkit-keyframes mymove {
  from{
  transform: scale(0);
 }
 to{
  transform: scale(100%u);
 }
}
@keyframes mymove2 {
  from{
  transform: scale(100%);
 }
 to{
  transform: scale(0);
 }
}

/* ********************************************************* */
/* Custom Radio Buttons:                                     */ 
/* ********************************************************* */
/*
  <label for="radio1">
    <input hidden type="radio" id="radio1" value="111" name="group1" />
    <span class="span">Male</span>
  </label>
  <label for="radio2">
    <input hidden type="radio" id="radio2" value="222" name="group1" />
    <span class="span">Female</span>
  </label>
*/
input[type="radio"] {
 /* display:none; */
}
/*-----------Label-------------*/
label{
 cursor:pointer;
 color:#666;
}
/*-----------Input radio button-------------*/
input[type="radio"] + .span:before{
 content:"\f111";
 speak:none;
 font-style:normal;
 font-weight:normal;
 font-variant:normal;
 text-transform:none;
 width:1em;
 margin-right:5px;
 font-family: 'Font Awesome 5 Free';
 display:inline-block;
 font-size:32px;
 line-height: 0px;
 vertical-align: middle;
 color:#80bdff;
 animation:mymove2 200ms ease-out;
}
input[type="radio"]:checked + .span:before{
 content:"\f192";
 animation:mymove 200ms ease-in-out;
 -webkit-animation:mymove 150ms ease-in-out;
}
/*-----------Animation-------------*/
@keyframes mymove{
 0%{
  transform: scale(0);
 }
    1%{
  transform: scale(0);
 }
 100%{
  transform: scale(100%);
 }
}

@-webkit-keyframes mymove {
  from{
  transform: scale(0);
 }
 to{
  transform: scale(100%u);
 }
}
@keyframes mymove2 {
  from{
  transform: scale(100%);
 }
 to{
  transform: scale(0);
 }
}

.checkbox-h1 {
  font-size:36px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h2 {
  font-size:30px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h3 {
  font-size:24px;
  line-height: 22px;
  vertical-align: bottom;
}
.checkbox-h4 {
  font-size:18px;
  line-height: 22px;
  vertical-align: bottom;
}
